force-app/main/default/flows/Run_Selected_Data_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_the_new_schedule</name>
        <label>Set the new schedule</label>
        <locationX>242</locationX>
        <locationY>974</locationY>
        <actionName>summaryTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Time_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>tasks</name>
            <value>
                <stringValue>|{!TimeString}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Start_the_task</name>
        <label>Start the task</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <actionName>summaryTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>tasks</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DSSscheduled</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_DSS_Scheduled</name>
        <label>Is DSS Scheduled</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Schedule_DSS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs Scheduling</defaultConnectorLabel>
        <rules>
            <name>Already_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DSSscheduled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordID_has_value</name>
        <label>recordID has value</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Start_the_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Value</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_DSS_Scheduled</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_set_new_schedule</name>
        <label>User set new schedule</label>
        <locationX>374</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_setSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeString</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_the_new_schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>TimeString</name>
        <dataType>String</dataType>
        <expression>if ( isblank(text({!Hour})), &apos;&apos;, text({!Hour}) +&apos;:&apos;  +  right(&apos;00&apos;+text({!Minute}), 2) )</expression>
    </formulas>
    <interviewLabel>Run Selected Data Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Selected Data Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Schedule_DSS</name>
        <label>Schedule DSS</label>
        <locationX>374</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_set_new_schedule</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;DSS is not currently scheduled to run automatically every day.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Correct this by entering the desired time you&apos;d like it to run.  We recommend scheduling it to run in early hours of the morning, say 1:00am.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_DSS_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_DSS_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hour</name>
                    <dataType>Number</dataType>
                    <fieldText>Hour (enter the time in military time, where midnight is 0)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter the hour in military time between 0 - 23, where midnight is 0 and 11pm is 23.&lt;/p&gt;</errorMessage>
                        <formulaExpression>if ({!Hour} &lt; 0 || {!Hour} &gt; 23, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_DSS_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minute</name>
                    <dataType>Number</dataType>
                    <fieldText>Minute</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter a value between 0 and 59&lt;/p&gt;</errorMessage>
                        <formulaExpression>if ({!Minute} &lt; 0 || {!Minute} &gt; 59, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_0</name>
        <label>screen</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_DSS_Scheduled</targetReference>
        </connector>
        <fields>
            <name>msg_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;﻿The Data Summary task has started&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Time_0_0_0</name>
        <label>Show Time</label>
        <locationX>242</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;DSS will now run every at {!TimeString} daily.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recordID_has_value</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DSSscheduled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
